<div class="card w-25">
    <img src="{{path}}/animation.gif" class="card-img-top">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <a href="/post/create/{{id}}"><button type="button" class="btn  modalButton">Create Post</button></a>
    </div>
</div>