<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="AniMates" content="AniMates a Flipbook Social Site">
        <title>AniMates</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        
    </head>

    <body>

        <div class="wrapper d-flex min-vh-100">
            {{!-- NAV BAR ON LEFT --}}
            <header>
                <ul class="nav flex-column">
                   {{!-- LOGO IMG  --}}
                    <li>
                        <img id="logo" src="/assets/animateStatic.png" alt="AniMates logo">
                    </li>
                    {{!-- IF USER IS LOGGED IN, DISPLAY THIS --}}
                    {{#if loggedIn}}
                        {{!-- HOMEPAGE LINK --}}
                        <li class="nav-item">
                            <a href="/" class="homepage nav-item">Home</a>
                        </li>
                        {{!-- EXPLORE PAGE LINK --}}
                        <li class="nav-item">
                            <a href="/" class="explorepage nav-item">Explore</a>
                        </li>
                        {{!-- MY PROFILE LINK --}}
                        <li class="nav-item">
                            <a href="/" class="myprofilepage nav-item">My Profile</a>
                        </li>
                        {{!-- LOGOUT LINK --}}
                        <li class="nav-item">
                            <button id="logout" class="btn-no-style">Logout</button>
                        </li>
                    {{!-- IF USER IS NOT LOGGED IN, DISPLAY THIS --}}
                    {{else}}
                        {{!-- HOMEPAGE LINK --}}
                        <li class="nav-item">
                            <a href="/" class="homepage nav-item">Home</a>
                        </li>
                        {{!-- LOGIN LINK --}}
                        <li class="nav-item">
                            <button id="login" class="btn-no-style">Login</button>
                        </li>    
                    {{/if}}
                    </nav>
                </ul>
            </header>
            
            <main class="container">
                {{{ body }}}
            </main>

            
            {{!-- external scripts --}}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            {{!-- project script --}}
            {{#if loggedIn}}
                {{!-- <script src="#link to logout js"></script> --}}
                <script src="/javascrip/login.js"></script>
            {{/if}}
            <script src="/javascript/login.js"></script>
    </body>

</html>