<ol class="project-list">
    {{!-- projects array --}}
    {{#each projects as |project|}}
        <ul>
            {{> project-info project}}
        </ul>
    {{/each}}
</ol>
{{!-- login modal --}}
<section id="loginModal" class="loginModal">
    <div class="modal-content">
        <form class="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button id="submitLogin" type="submit">Login</button>
            </div>
            <div>
                <button id="signupRedirect" type="submit">SIGN UP HERE</button>
            </div>
        </form>
    </div>
</section>
{{!-- signup modal --}}
<section id="signupModal" class="signupModal">
    <div class="modal-content">
        <form>
            <div>
                <label for="username-signup">Username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="email-signup">Email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button id="signup" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>