{{!-- <section id="myModal" class="modal">
    <div class="modal-content">
        <form class="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div class = "sign-up">
                No account yet? <a href="/signup">Click HERE to Sign Up.</a>
            </div>
        </form>
    </div>
</section>
<script src="/javascrip/login.js"></script> --}}